@(id: Long, goalForm: Form[Goal], userName: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

    <h1>目標の編集</h1>

    @form(routes.Application.updateGoal(id)) {

        <fieldset>
            @inputText(goalForm("week"), '_label -> "今週の目標", '_help -> "")
            @inputText(goalForm("month"), '_label -> "今月の目標", '_help -> "")
            @inputText(goalForm("year"), '_label -> "今年の目標", '_help -> "")
			<input type="hidden" name="usrname" value=@userName />

        </fieldset>

        <div class="actions">
        	<br>
            <input type="submit" value="更新" class="btn btn-primary"> or
            <a href="@routes.Application.mypage(userName)" class="btn btn-default">キャンセル</a> or
            <a href="@routes.Application.deleteGoal(id,userName)" class="btn btn-danger" >削除</a>
        </div>

    }
}