@(id: Long, dayForm: Form[DayTarget], targetUser: String, maker: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

    <h1>ターゲットの編集</h1>

    @form(routes.Application.updateDayTarget(id)) {

        <fieldset>

            @inputText(dayForm("name"), '_label -> "ターゲット名", '_help -> "")
			<input type="hidden" name="usrname" value=@targetUser />
			<input type="hidden" name="maker"   value=@maker />

        </fieldset>

        <div class="actions">
            <input type="submit" value="更新" class="btn primary"> or
            <a href="@routes.Application.mypage(targetUser)" class="btn">キャンセル</a>
        </div>

    }
}