@(id: Long, dayForm: Form[DayTarget], targetUser: String, maker: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {
	<div class="page-header">
	    <h1>ターゲットの編集</h1>
	</div>
    @form(routes.Application.updateDayTarget(id)) {

        <fieldset>

            @inputText(dayForm("name"), '_label -> "ターゲット", '_help -> "")
			<input type="hidden" name="usrname" value=@targetUser />
			<input type="hidden" name="maker"   value=@maker />

        </fieldset>

        <div class="actions">
        <br>
            <input type="submit" value="更新" class="btn btn-success"> or
            <a href="@routes.Application.mypage(targetUser)" class="btn btn-default">キャンセル</a>
        </div>

    }
}