@(allUser: List[UsrInfo], dayTargets: List[DayTarget], userName: String, words:List[Word], wordForm: Form[Word])

@import helper._

@main {
	<div class="page-header">
		<h1>ようこそ <a href="@routes.Application.mypage(userName)">@userName</a> さん</h1>
	</div>

	<div class="others">
    <h2 class="point2">他の参加者</h2>
   	    <table class="table table-striped table-bordered">
   	    <thead>
   	    	<tr>
   	    		<td>ユーザー</td>
   	    	</tr>
   	    </thead>
        <tbody>
    		@for(user <- allUser) {
    			@if(user.name != userName) {
	   				<tr>
    	            	<td><a href="@routes.Application.mypage(user.name)">@user.name</a></td>
        	    	</tr>
   				}
   			}
        </tbody>
    </table>
	</div>
}
