@(loginForm: Form[UsrInfo])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

    <h1>ログイン</h1>

    @form(routes.Application.submitLogin()) {

        <fieldset>

            @inputText(loginForm("name"), '_label -> "ユーザネーム", '_help -> "")
            @inputText(loginForm("password"), '_label -> "パスワード", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="ログイン" class="btn primary">
        </div>

    }

}