@(loginForm: Form[UsrInfo])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<html>
<head>
  <meta charset="utf-8">
  <title>ログイン</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>

<body>

  <div id="form">
    <h2>ログインしてください</h2>
    @form(routes.Application.submitLogin()) {

        <p>ユーザーID</p>
        @inputText(loginForm("name"), '_label -> "", '_help -> "")
        <p>パスワード</p>
        @inputPassword(loginForm("password"), '_label -> "", '_help -> "")

      <br><p class="submit"><input type="submit" value="ログイン" class="btn btn-lg btn-primary btn-block"></p>
      @if(flash.containsKey("false")) {
        <br><p><font color="red">@flash.get("false")</font></p>
      }
    }
  </div>

</body>
</html>