@(dayTargets: List[DayTarget], userName: String, lookingUser:String, goals: List[Goal])

@import helper._

@main {
	<div class="page-header">
	<h1><a href="@routes.Application.myrecord(userName)">@userName</a> さんのマイページ</h1>
	</div>
	<div class=target>
    <h2 class="point2">ターゲット</h2>
    <table class="table table-striped table-bordered">
    	<thead>
    		<tr>
    			<td>ターゲット名</td>
    			<td>作った人</td>
    			<td>作成日</td>
    			@if(userName == lookingUser) {
    		    	<td></td>
    		    }
    		</tr>
    	</thead>
        <tbody>
    		@for(dayTarget <- dayTargets) {
    			@if(dayTarget.usrname == userName) {
    				@if(!dayTarget.cleared) {
		   				<tr>
		   					@if(dayTarget.maker == lookingUser) {
		   						<td><a href="@routes.Application.editDayTarget(dayTarget.id, userName, lookingUser)">@dayTarget.name</a></td>
		   						<td>@dayTarget.maker</td>
		   						<td>@dayTarget.date</td>
		    				} else {
		    	            	<td>@dayTarget.name</td>
		    	            	<td>@dayTarget.maker</td>
		    					<td>@dayTarget.date</td>
		    	            }
		    				@if(userName == lookingUser) {
		    					<td><a href="@routes.Application.clearDayTarget(dayTarget.id, userName)" class="btn btn-xs btn-warning">クリア</a>
	    						<a href="@routes.Application.deleteDayTarget(dayTarget.id, userName, true)" class="btn btn-xs btn-danger">削除</a></td>
	    					}
	    				</tr>
    				}
   				}
   			}
        </tbody>
    </table>
    <a href="@routes.Application.createDayTarget(userName)" class="btn btn-success" >ターゲットを作成</a>
	</div>

	<br>
	<div class=goal>
    <h2 class="point2">ゴール</h2>
	<table class="table table-striped table-bordered">
   	    <thead>
   	    	<tr>
   	    		<td>今週のゴール</td>
   	    		<td>今月のゴール</td>
   	    		<td>今年のゴール</td>
   	    	</tr>
   	    </thead>
        <tbody>
        	@for(goal <- goals) {
	        	@if(goal.usrname == userName) {
	        		@if(userName == lookingUser) {
		        		<tr>
	    	    			<td>
		    	    			@if(goal.week == "") {
	    	                    	<a href="@routes.Application.editGoal(goal.id)"><em>-</em></a>
	        	                } else {
	        						<a href="@routes.Application.editGoal(goal.id)">@goal.week</a>
	        					}
	        				</td>
					 		<td>
		    	    			@if(goal.month == "") {
	    	                    	<a href="@routes.Application.editGoal(goal.id)"><em>-</em></a>
	        	                } else {
							 		<a href="@routes.Application.editGoal(goal.id)">@goal.month</a>
							 	}
							</td>
	        				<td>
		    	    			@if(goal.year == "") {
	    	                    	<a href="@routes.Application.editGoal(goal.id)"><em>-</em></a>
	        	                } else {
			        				<a href="@routes.Application.editGoal(goal.id)">@goal.year</a>
			        			}
			        		</td>
	        			</tr>
        			} else {
		        		<tr>
	    	    			<td>
		    	    			@if(goal.week == "") {
	    	                    	<em>-</em>
	        	                } else {
	        						@goal.week
	        					}
	        				</td>
					 		<td>
		    	    			@if(goal.month == "") {
	    	                    	<em>-</em>
	        	                } else {
							 		@goal.month
							 	}
							</td>
	        				<td>
		    	    			@if(goal.year == "") {
	    	                    	<em>-</em>
	        	                } else {
			        				@goal.year
			        			}
			        		</td>

	        			</tr>
       				}
       			}
       		}
        </tbody>
    </table>
    @{
	    if(userName == lookingUser) {
	    	var flag = true
	    	for(goal <- goals){
	    		if(goal.usrname == userName) {
	    			flag = false
	    		}
	    	}
	    	if(flag){
	    		<a href="/creategoal/new" class="btn btn-primary" >ゴールを作成</a>
	    	}
	    }
    }
    </div>
}
