@(userForm: Form[UsrInfo])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

    <h1>ユーザ登録</h1>

    @form(routes.Application.submitRegister()) {

        <fieldset>

            @inputText(userForm("name"), '_label -> "ユーザネーム", '_help -> "")
            @inputText(userForm("password"), '_label -> "パスワード", '_help -> "")

        </fieldset>

        <div class="actions">
            <input type="submit" value="登録" class="btn primary"> or
            <a href="@routes.Application.login()" class="btn">ログインへ</a>
        </div>

    }

}