@(userForm: Form[UsrInfo])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<html>
<head>
  <meta charset="utf-8">
  <title>ユーザー登録</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>

<body>
  <div id="form">
    <h2>ユーザー登録</h2>
    @form(routes.Application.submitRegister()) {

        <p>ユーザーID</p>
        @inputText(userForm("name"), '_label -> "", '_help -> "")
        <p>パスワード</p>
        @inputPassword(userForm("password"), '_label -> "", '_help -> "")

      <br>
      <p class="submit"><input type="submit" value="登録" class="btn btn-lg btn-primary btn-block"></p>
      <br>
      既にユーザー登録がお済みの方は<a href="@routes.Application.login()">こちら</a>へ
    }

  </div>
</body>
</html>
